<!DOCTYPE html>
{{ encore_entry_link_tags('app') }}
<html lang="en">
	<head>
		<title>
			{% block title %}Eventopia
			{% endblock %}
		</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		{% block stylesheets %}
			<!-- Google Fonts -->
			<link
			href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

			<!-- Main CSS Files -->
			<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
			<link rel="stylesheet" href="{{ asset('css/open-iconic-bootstrap.min.css') }}">
			<link rel="stylesheet" href="{{ asset('css/animate.css') }}">
			<link rel="stylesheet" href="{{ asset('css/style.css') }}">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
			<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

		{% endblock %}


	</head>

	<body>
		{% block navbar %}{% endblock %}

		{% block body %}{% endblock %}
		{% block footer %}{% endblock %}


		{% block javascripts %}
			<!-- JS Files (without assets/ in path) -->
			<script src="{{ asset('js/jquery.min.js') }}"></script>
			<script src="{{ asset('js/bootstrap.min.js') }}"></script>
			<!-- Using CDN for Owl Carousel JS -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
			<script src="{{ asset('js/main.js') }}"></script>
			<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

			{% block extra_scripts %}{% endblock %}
		{% endblock %}
	</body>
</html>
